# Compilação e Binários
*.o
*.obj
*.exe
*.out
bin/
obj/
build/

# Executáveis específicos do projeto
simulacao
classificador_ecg

# Bibliotecas Externas (ONNX Runtime, etc)
libs/

# Python (Ambiente Virtual e Cache)
venv/
.venv/
__pycache__/
*.py[cod]

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Arquivos pesados
data/